

<div id="main-wrapper">


    <app-header></app-header>
    <app-sidebar></app-sidebar>
    <div class="page-wrapper">
        <div class="container-fluid">
            <!-- breadcrumbs -->
            <app-breadcrumbs></app-breadcrumbs>

            <!-- Mi sistema de rutas -->
            <router-outlet></router-outlet>

            <!-- <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                         

                        </div>
                    </div>
                </div>
            </div> -->
        </div>
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer">
           &copy; 2021 Cosmos Digital S.R.L by C|Digital.com
            
            <!-- Solo para probar © -->
            <!-- <div>Tutorcodev &copy;2022</div> -->
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->

    </div>
</div>

<app-modal-imagen></app-modal-imagen>
<app-modal-apartamentos></app-modal-apartamentos>
<app-modal-cuotas></app-modal-cuotas>
