<div class="row animated fadIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input type="text"
                class="form-control"
                placeholder="Buscar empleado..."
                (keyup)="buscar(txtTermino.value)"
                #txtTermino/>

            </div>
        </div>
    </div>
</div> 

<div class="row animated fadIn fast"
     *ngIf="cargando">

    <div class="col-12">
        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0">Por favor espere</p>
        </div>
    </div>
</div>

<div class="row"
     *ngIf="!cargando">

    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <h4 class="card-title">Empleados ({{empleados.length}})</h4>
                        <h6 class="card-subtitle">Empleados registrados en mi aplicación</h6>
                    </div>
                    <div class="col">
                        <div class="text-right">
                            <button class="btn btn-primary" routerLink="/nomina/empleadoM/nuevo"
                            >
                                <i class="fa fa-hospital-o"></i>
                                Crear empleado
                            </button>
                        </div>
                    </div>
                </div>
               
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Foto</th>
                                <th>Nombre</th>
                                <th>Cédula</th>
                                <th>Fecha Ing</th>
                                <th>Salario</th>
                                <th>Fecha Sal</th>
                                <th class="text-nowrap">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let empleado of empleados">
                                <td>xxx</td>
                                <td>{{empleado.name1}} {{empleado.name2}}
                                    {{empleado.apell1}} {{empleado.apell2}}
                                </td>
                                <td>{{empleado.identificacion}}</td>
                                <td>{{empleado.fechaIngreso}}</td>
                                <td>{{empleado.salario | number:'1.2-2'}}</td>
                                <td>{{empleado.fechaSalida}}</td>

                                <td class="text-nowrap text-center">
                                    <a [routerLink]="['/nomina/empleadoM', empleado._id]"
                                       data-toggle="tooltip"
                                       data-original-title="Editar">
                                        <i class="fa fa-pencil text-inverse m-r-10"></i> 
                                    </a>
                                    <a class="cursor" 
                                       data-toggle="tooltip" 
                                       data-original-title="Borrar"
                                       (click)="eliminarEmpleado(empleado)"> 
                                       <i class="fa fa-close text-danger"></i>
                                    </a>
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>

                <button class="btn btn-secundary">Anteriores</button>
                &nbsp;
                <button class="btn btn-secundary">Siguientes</button>
                </div>
            </div>
        </div>
    </div>

</div>
