<div
  class="fondo-modal-apartamento"
  [class.oculto]="_modalAptoService.ocultarModal">

  <div
    class="modal fade show"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel1"
    style="display: block; padding-right: 17px"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel1">Apartamentos de: {{propietario}}</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            (click)="cerrarModal()"
          >
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>No.</th>
                <th>Código</th>
                <th>Bloque</th>
                <th>Propietario</th>
                <th>Cuota Asignada</th>
                <th>Monto Adeudado</th>
                <th>Habitado</th>
                <!-- <th>Fecha Sal</th> -->
                <!-- <th class="text-nowrap">Acciones</th> -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let apartamento of apartamentos; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ apartamento.codigo }}</td>
                <td>{{ apartamento.idbloque.codigo }}</td>
                <td>{{ apartamento.idpropietario.nombre }}</td>
                <td>{{ apartamento.idbloque.cuota | number: "1.2-2" }}</td>
                <td>{{ apartamento.saldomantenimiento | number: "1.2-2" }}</td>
                <td>{{ apartamento.habitado }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-default"
            data-dismiss="modal"
            (click)="cerrarModal()"
          >
            Cancelar
          </button>
          <button type="button" class="btn btn-primary">Actualizar</button>
        </div>
      </div>
    </div>
  </div>
</div>
